* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
}

.flex {
  display: flex;
}

.container {
  width: 50%;
  align-items: center;
}

.content {
  background-color: #fff;
  flex-direction: column;
  padding: 1.5rem 2rem;
  text-align: center;
  gap: 1.5rem;
  width: 60%;
}

h1 {
  font-size: 3rem;
  color: #fff;
  width: 40%;
}

#userInput {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-align: center;
}

button {
  padding: 1rem 2rem;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

#playBtn {
  background-color: cornflowerblue;
}

#resetBtn {
  background-color: red;
}

.btns {
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    width: 85%;
    flex-direction: column;
    gap: 1rem;
  }

  h1 {
    font-size: 2rem;
    width: 100%;
  }
  .content {
    width: 100%;
  }
}
